<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tambah Data Obat - Administrasi</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-utama" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          <img src="img/logo-navbar.png" class="logo-navbar">
          <strong>Administrasi</strong>
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="http://localhost/sisurat"><i class="fa fa-home"></i> Beranda</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-th-list"></i> Referensi <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu tipe-kiri dropdown-menu-login2">
                <li><a href="view_data_obat.html"><i class="fa fa-tags"></i> Daftar Obat</a></li>
                <li><a href="view_data_penyakit.html"><i class="fa fa-tags"></i> Daftar Penyakit</a></li>
                <li><a href="view_data_puskesmas.html"><i class="fa fa-tags"></i> Daftar Puskesmas</a></li>
                <li><a href="view_data_tahun.html"><i class="fa fa-tags"></i> Daftar Tahun</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-th-list"></i> Data Penyakit <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu tipe-kiri dropdown-menu-login2">
                <li><a href="view_jumlah_penyakit.html"><i class="fa fa-tags"></i> Jumlah Penyakit</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-th-list"></i> Laporan <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu tipe-kiri dropdown-menu-login2">
                <li><a href="cetak_tahun.html"><i class="fa fa-tags"></i> Cetak Laporan Per Tahun</a></li>
                <li><a href="cetak_obat.html"><i class="fa fa-tags"></i> Cetak Data Obat</a></li>
                <li><a href="cetak_puskesmas.html"><i class="fa fa-tags"></i> Cetak Data Puskesmas</a></li>
                <li><a href="cetak_penyakit.html"><i class="fa fa-tags"></i> Cetak Data Penyakit</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-th-list"></i> Analisa <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu tipe-kiri dropdown-menu-login2">
                <li><a href="persebaran_obat.html"><i class="fa fa-tags"></i> Persebaran Obat per Puskesmas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-gear"></i> Pengaturan <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu tipe-kiri dropdown-menu-login2">
                <li><a href="data_pengguna.html"><i class="fa fa-users"></i> Data Pengguna</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="log_out.html"><i class="fa fa-sign-out"></i> Administrasi (Log Out)</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="tengah">
          <div class="head-depan tengah">
            <div class="row">
              <div class="col-md-1">
                <img class="img-thumbnail img-responsive margin-b10" src="img/logo-SMA.png" width="100" height="100" alt="Logo SMA Karangan" />
              </div>
              <div class="col-md-11">
                <h1 class="judul-head">SISTEM MONITORING PERSEBARAN OBAT PADA PUSKESMAS-PUSKESMAS DI BANDA ACEH DENGAN MENGGUNAKAN METODE CLUSTERING</h1>
                <p><i class="fa fa-cog fa-fw"></i> Kelompok 6 Kelas A</p>
              </div>
            </div>
            <hr class="hr1 margin-b-10" />
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="container margin-b50 margin-t50">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <nav class="navbar navbar-default navbar-utama nav-admin-data" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-plus-circle"></i> Tambah Data Jumlah Penyakit</a>
              </div>
              
              </div><!-- /.container-fluid -->
            </nav>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well">
              <form class="form-horizontal" role="form" action="view_jumlah_penyakit.html">
                <div class="form-group">
                  <label for="inputSifat" class="col-sm-3 control-label">Pilih Puskesmas</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="sifat">
                      <option value="">-Pilih-</option>
                      <option value="biasa">Biasa</option>
                      <option value="segera">Segera</option>
                      <option value="perhatian_khusus">Perlu Perhatian Khusus</option>
                      <option value="perhatian_waktu">Perhatian Batas Waktu</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputSifat" class="col-sm-3 control-label">Pilih Penyakit</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="sifat">
                      <option value="">-Pilih-</option>
                      <option value="biasa">Biasa</option>
                      <option value="segera">Segera</option>
                      <option value="perhatian_khusus">Perlu Perhatian Khusus</option>
                      <option value="perhatian_waktu">Perhatian Batas Waktu</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputSifat" class="col-sm-3 control-label">Pilih Tahun</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="sifat">
                      <option value="">-Pilih-</option>
                      <option value="biasa">Biasa</option>
                      <option value="segera">Segera</option>
                      <option value="perhatian_khusus">Perlu Perhatian Khusus</option>
                      <option value="perhatian_waktu">Perhatian Batas Waktu</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputNama" class="col-sm-3 control-label">Jumlah Penyakit</label>
                  <div class="col-sm-6">
                  <div class="left-inner-addon">
                  <i class="fa fa-sort-numeric-desc"></i>
                      <input type="text" class="form-control datepicker" id="inputNama" placeholder="Dalam jumlah satuan" />
                      </div>
                  </div>
                </div>
                
                <hr class="hr1">
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary bold"><i class="fa fa-save"></i> Simpan</button>&nbsp;&nbsp;<a href="view_jumlah_penyakit.html" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Kembali</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
        
        <div class="footer footer1">
      <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img src="img/logo-footer.png" width="72" height="72" />
          <h4 class="white">SISTEM INFORMASI CERDAS</h4>
          <h3 class="white">SISTEM MONITORING PERSEBARAN OBAT PADA PUSKESMAS-PUSKESMAS DI BANDA ACEH DENGAN MENGGUNAKAN METODE CLUSTERING</h3>
          <ul class="list-inline">
            <li><a href="halaman_depan.html" class="link-footer">Beranda</a></li>
            <li><a href="petunjuk_penggunaan.html" class="link-footer">Petunjuk Penggunaan</a></li>
            <li><a href="tentang.html" class="link-footer">Tentang</a></li>
          </ul>
          <h5 class="white">Copyright &copy; 2015</h5>
        </div>
      </div>
    </div>
  </div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-hover-dropdown.js"></script>
        <script src="js/script.js"></script>
      </body>
    </html>